<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="air.amanita_design.samorost3.E2W.smartisan" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <application android:hardwareAccelerated="false" android:icon="@drawable/app_icon" android:label="@string/app_name" android:name="com.amanitadesign.ane.ApplicationForGame">
        <activity android:configChanges="fontScale|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name=".AppEntry" android:screenOrientation="user" android:theme="@style/Theme.NoShadow" android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data android:name="embeddedFonts" android:value="false"/>
            <meta-data android:name="namespaceVersion" android:value="24.0"/>
			<!--main-->
		  <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
			<!--end-->
            <meta-data android:name="aspectRatio" android:value="landscape"/>
            <meta-data android:name="autoOrients" android:value="true"/>
            <meta-data android:name="fullScreen" android:value="false"/>
            <meta-data android:name="uniqueappversionid" android:value="cb0a506e-16aa-44a8-9f4c-ba0b83f0c764"/>
            <meta-data android:name="initialcontent" android:value="Data/Main.swf"/>
            <meta-data android:name="containsVideo" android:value="false"/>
            <meta-data android:name="webContentsDebuggingEnabled" android:value="false"/>
        </activity>
        <provider android:authorities="air.air.amanita-design.samorost3.E2W.east2west.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.adobe.air.CameraUIProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="CHANNEL_NAME" android:value="east2west"/>
        <meta-data android:name="MOBILE_SPLASH" android:value="close"/>
        <meta-data android:name="EGAME_CHANNEL" android:value="41040446"/>
        <meta-data android:name="UMENG_APPKEY" android:value="584e28b607fe6577a3000d5b"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="east2west"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="air.air.amanita_design.samorost3.E2W.east2west.wxapi.WXPayEntryActivity"/>
		<!--sdk-->  
		<!--end-->
    </application>
		
		<!-- allchannelstart -->
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="false" android:xlargeScreens="true"/>
    <compatible-screens>
        <screen android:screenDensity="xhdpi" android:screenSize="normal"/>
        <screen android:screenDensity="213" android:screenSize="normal"/>
        <screen android:screenDensity="360" android:screenSize="normal"/>
        <screen android:screenDensity="420" android:screenSize="normal"/>
        <screen android:screenDensity="xxhdpi" android:screenSize="normal"/>
        <screen android:screenDensity="560" android:screenSize="normal"/>
        <screen android:screenDensity="xxxhdpi" android:screenSize="normal"/>
        <screen android:screenDensity="ldpi" android:screenSize="large"/>
        <screen android:screenDensity="mdpi" android:screenSize="large"/>
        <screen android:screenDensity="hdpi" android:screenSize="large"/>
        <screen android:screenDensity="xhdpi" android:screenSize="large"/>
        <screen android:screenDensity="213" android:screenSize="large"/>
        <screen android:screenDensity="280" android:screenSize="large"/>
        <screen android:screenDensity="360" android:screenSize="large"/>
        <screen android:screenDensity="420" android:screenSize="large"/>
        <screen android:screenDensity="xxhdpi" android:screenSize="large"/>
        <screen android:screenDensity="560" android:screenSize="large"/>
        <screen android:screenDensity="xxxhdpi" android:screenSize="large"/>
        <screen android:screenDensity="ldpi" android:screenSize="xlarge"/>
        <screen android:screenDensity="mdpi" android:screenSize="xlarge"/>
        <screen android:screenDensity="hdpi" android:screenSize="xlarge"/>
        <screen android:screenDensity="xhdpi" android:screenSize="xlarge"/>
        <screen android:screenDensity="213" android:screenSize="xlarge"/>
        <screen android:screenDensity="280" android:screenSize="xlarge"/>
        <screen android:screenDensity="360" android:screenSize="xlarge"/>
        <screen android:screenDensity="420" android:screenSize="xlarge"/>
        <screen android:screenDensity="xxhdpi" android:screenSize="xlarge"/>
        <screen android:screenDensity="560" android:screenSize="xlarge"/>
        <screen android:screenDensity="xxxhdpi" android:screenSize="xlarge"/>
    </compatible-screens>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="cn.cmgame2_0.launch_model.shortcut.main.MiguHomeActivity"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.webkit.permission.PLUGIN"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true"/>
	<!-- allchannelstartend -->
	<!--sdkxml-->
	<!--end-->
</manifest>